/* Estilo base para la página */
body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

}


/* Estilo de la barra lateral */
.sidebar {
    width: 50px; /* Ancho inicial mínimo para que el usuario haga clic */
    height: 100%;
    background: rgb(223,236,236);
    background: radial-gradient(circle, rgba(223,236,236,1) 70%, rgba(55,170,246,0.37290890477284666) 93%);
    color: #fff;
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    position: fixed;
    transition: width 0.5s; /* Solo animar el ancho */
    z-index: 1;
    
  
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Elimina el espacio en blanco dentro de la lista */
}
.sidebar a {
    text-decoration: none;
    
}
.sidebar li {
    color: #002942;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    visibility: hidden; /* Oculta los elementos de navegación cuando la barra está oculta */
}
.sidebar.active li {
    visibility: visible; /* Muestra los elementos de navegación cuando la barra está activa */
}
.sidebar:not(.active) .club-logo {
    display: none;
}

/* Estilo para el enlace del club cuando el sidebar está abierto */
.sidebar.active .club-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #002942;
    text-decoration: none;
    padding: 10px 0;
    margin-bottom: 10px;
}
.club-logo-image,
h1 {
    margin-bottom: 0px; /* Puedes cambiar este valor según tus preferencias */
}

/* Estilo para la imagen del escudo cuando el sidebar está abierto */
.sidebar.active .club-logo-image {
    width: 5rem; /* Ajusta el ancho de la imagen según sea necesario */
    height: 5rem; /* Ajusta el alto de la imagen según sea necesario */
    margin-bottom: 10px; /* Espacio entre la imagen y el título */
}
/* Estilo del contenido principal */
.content {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    transition: margin-left 0.5s; /* Ajustar el margen al abrir/cerrar la barra */
}

.column {
    width: 33.33%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    min-height: 100vh;
    cursor: pointer;
    position: relative; /* Añade posición relativa para que el contenido interno sea posicionado con respecto a la columna */
    overflow: hidden; /* Oculta cualquier contenido que se desborde de la columna */
}

/* Estilo para la imagen de fondo de las columnas */
.column::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}
/* Estilo para el título y el párrafo dentro de las columnas */
.column p {
    position: absolute;
    top: calc(50% + 15%); /* Ajusta la distancia desde la parte superior del título (ajusta el valor según sea necesario) */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el párrafo */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    z-index: 1; /* Asegura que el texto esté sobre la imagen de fondo */
    color: #fff;
    margin-top: 10px;
}

.column h1 {
    font: bolder;
    position: absolute;
    top: calc(35% + 15%); /* Ajusta la distancia desde la parte superior del título (ajusta el valor según sea necesario) */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el párrafo */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    z-index: 1; /* Asegura que el texto esté sobre la imagen de fondo */
    color: #fff;
    margin-top: 10px;
}

.column h2 {
    font-size: 38px;
    position: absolute;
    top: 50%; /* Centra verticalmente el título en la columna */
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* Centra y escala el título */
    color: #fff;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* Transición suave de escala */
}

/* Estilo para mostrar el título y el párrafo cuando el cursor pasa sobre la columna */
.column:hover::before {
    opacity: 0.7; /* Opacidad reducida al pasar el cursor */
}

.column:hover h2,
.column:hover h1,
.column:hover p {
    opacity: 1; /* Muestra el título y el párrafo al pasar el cursor */
    transform: translate(-50% , -50%) scale(1.5);
}

/* Estilo para ocultar el nuevo h1 */
.hidden {
    display: none;
}

/* Estilo para mostrar la barra lateral */
.sidebar.active {
    width: 18%; /* 1/6 de la pantalla */
}

.sidebar.active ul li {
    display: block; /* Muestra los elementos de navegación cuando la barra está activa */
}

/* Estilo para ajustar el margen del contenido cuando la barra lateral está activa */
.sidebar.active + .content {
    margin-left: 18%; /* Desplazar el contenido hacia la derecha */
}

/* Estilo del botón de alternar la barra lateral */
#toggleSidebar {
    background-color: transparent; /* Establece el fondo transparente */
    color:#002942;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    width: 50px;
    text-align: center;
    margin-left: auto; /* Mueve el botón hacia la derecha (espacio automático en el lado izquierdo) */
    animation: heartbeat 2s infinite;
}
#toggleSidebar svg {
    width: 28px; /* Ancho deseado */
    height: 28px; /* Altura deseada */
}

/* Estilo del contenedor del botón */
.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content {
    flex-grow: 1;
    display: flex;
    transition: margin-left 0.5s; /* Ajustar el margen al abrir/cerrar la barra */
    margin-left: 20px; /* Añade espacio para el botón de 60px */
}


/* Animaciones */
@keyframes heartbeat {
    0% {
      transform: scale(1);
      
    }
    25% {
      transform: scale(1.1);
      color:#4d97c595;
    }
    50% {
      transform: scale(1);
      color:#2e8ccb;
    }
    75% {
      transform: scale(1.1);
      
    }
    50% {
      transform: scale(1);
      
    }
  }

  /* Estilo para la imagen de fondo de las columnas */
  #estadio {
    background-image: url('Estadio\ Lateral.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la columna */
    background-position: center; /* Centra la imagen en la columna */
    background-repeat: no-repeat;
}

#historia {
    background-image: url('Gente.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


#idolos {
    background-image: url('Perfumo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* Inicialmente oculta la imagen de fondo */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Agrega un fondo con gradiente linear oscuro */
    opacity: 0; /* Inicialmente oculta la capa */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    pointer-events: none; /* Evita que la capa superpuesta bloquee eventos del contenido */
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    z-index: 999999;
    background-image: url('vector.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4.6rem 4.6rem;
    
}
.spinner {
    
    border: 4px solid #37aaf6;
    width: 100px; /* Ancho del spinner */
    height: 100px; /* Alto del spinner */
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1.3s linear infinite; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
/* Clase para ocultar el spinner */
.hide-spinner .spinner {
    display: none;
}

/* Clase para mostrar el contenido principal */
.show-content .content {
    display: block;
}